# please sort alphabetically to avoid duplicates
aiohttp~=3.13
aiosqlite==0.21.0
alembic==1.14.1
bittensor-cli==9.18.0
bittensor==10.1.0
docker~=7.1.0
dotenv==0.9.9
fastapi==0.110.3
httpx==0.28.1
numpy~=2.0.1
pandas==2.2.2
pydantic==2.9.2
sqlalchemy==2.0.37
uvicorn==0.34.0
