# please sort alphabetically to avoid duplicates
aiohttp~=3.13
aiosqlite==0.21.0
alembic==1.14.1
anthropic==0.28.0
backoff==2.2.1
bittensor-cli==9.14.3
bittensor==9.12.2
docker~=7.1.0
fastapi==0.110.3
forecasting-tools==0.2.12
gnews==0.3.7
numpy~=2.0.1
pandas==2.2.2
pydantic==2.9.2
scikit-learn==1.5.2
slowapi==0.1.9
sqlalchemy==2.0.37
uvicorn==0.34.0
websockets==15.0.1
